.statistics-main{
  // padding: 30px 50px 50px;
  // background-color: wheat;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .left{
    width: 256px;
    flex-shrink: 0;
  }
  .right{
    width:50%;
    flex-grow: 1;
    // background-color: aquamarine;
    padding: 30px 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start
  }
}