.header-link{
  text-decoration: none;
  color: white;
  height: 30px;
  line-height:30px;
  text-align: center;
  /* padding: 0 10px; */
  font-size: 18px;
}

.button-line{
  margin: 0 auto;
  width: 0;
  border-top: 2px solid #f16648;
  transition: 0.3s;
}

.header-link:hover >.button-line{
  width: 100%;
}