.home-main{
  /* position: relative; */
}

/* p{
  margin-bottom: 0;
} */

/* Bootstrap轮播图，改造*/
.carousel-container{
  min-width: 960px !important;
  position: relative;
  top: 0;
  overflow: hidden;
}
.carousel-indicators{
  z-index: 999;
}
.carousel-inner div div{
  z-index: 900;
}
.carousel-item{
  min-width: 960px !important;
  /* max-width: 100%; */
  height: 600px !important; 
}
.carousel-item img{
  min-width: 1056px;
}
.carousel-item div p{
  padding-bottom: 14px;
}

/* 轮播图上方悬浮区域容器*/
.home-title-container{
  background-color: rgb(0, 0, 0, 0.2);
  width: 100%;
  height: 600px;
  padding-top: 170px;
  position: absolute;
  z-index: 800;
}

/* 大标题文字 */
.home-title-big{
  margin-top: 20px;
  text-align:center;
  font-size: 40px;
  font-family: '苹方-简';
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

/* 数据图标展示区域 */
.home-title-link-container{
  /* background-color: #fff; */
  margin: 50px auto 0 ;
  /* margin: 80px auto 0 ; */
  width: 500px;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.home-title-link-container a{
  /* background-color: grey; */
  width: 220px;
  display: block;
  text-decoration: none;
  font-family: '苹方-简';
  text-shadow: 2px 2px black;
  color: white;
}
.home-title-link-container a i{
  line-height: 65px;
  font-size: 65px;
  float: left;
  margin-right: 20px;
}
.home-title-link-container a p:nth-child(2){
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 25px;
  position: relative;
}
.home-title-link-container a p:nth-child(2) .unit1{
  display: inline-block;
  position: absolute;
  right: 11px;
}
.home-title-link-container a p:nth-child(2) .unit2{
  display: inline-block;
  position: absolute;
  right: 23px;
}
.home-title-link-container a p:nth-child(3){
  display: block;
  height: 30px;
  line-height: 30px;
}


/* 图中心的搜索栏部分 */
.home-title-search{
  /* display: block; */
  width: 600px;
  height: 40px;
  margin: 40px auto;
}

/* boostrap的输入框，改造 */
.home-title-search input {
  border: white 1px solid;
  }
.home-title-search input:focus {
  box-shadow: 0 0 0 0.25rem rgba(241, 102, 72, 0.5);  
  border-color: white !important;
  }
.home-title-search button{
  color: white;
  border: 1px solid rgb(0, 0, 0,.7);
  background-color: rgb(0, 0, 0,.7);
}
.home-title-search button:hover {
  background-color: black;
  border: 1px solid black;
}
.home-title-search button:focus {
  box-shadow: 0 0 0 0.25rem rgba(241, 102, 72, 0.5);  
}
.home-title-search button svg{
  height: 18px;
  margin-right: 7px;
  position: relative;
  top: -1.5px;
}



/* tab导航栏容器 */
.home-tab-container{
  min-width: 960px;
  height: 50px;
  padding-top: 15px; 
  background-color: #f26649;
}
.home-tab-container .nav-tabs{
  max-width: 1056px;
  min-width: 960px;
  border: none ;
  margin: 0 auto;
  padding: 0 50px;
}
.home-tab-container .nav-link{
  /* width: 130px; */
  height: 35px;
  border: none !important;
  line-height: 35px;
  margin-right: 10px;
  padding: 0 30px;
  font-size: 16px;
  /* font-family: '苹方-简'; */
  background-color: #f58e79 !important;
  color: black;
}
.nav-link:hover{
  background-color: white !important;
}
.nav-link.active{
  background-color: white !important;
  color: #c44d34 !important;
}


/* tab内容外容器 */
.tab-content{
  max-width: 1056px;
  min-width: 960px;
  margin: 0 auto 30px;
  /* background-color: wheat; */
  height: 100%;

}

/* 每个tab页面 */
.tab-pane{
  /* background-color: #fff; */
  padding: 0 50px;

}
/* 每个tab页面的描述语句 */
.tab-description{
  margin: 40px 0 30px;
  /* background-color: grey; */
  color: #565656;
}
/* 每个tab页面的内部板块容器 */
.tab-inner-container{
  /* background-color: pink; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* 内部板块分区 */
.tab-inner-row{
  max-width: 47%;
  /* background-color: yellow; */
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

/* **特殊的内部板块，第一个tab栏 */
.first-tab-inner-row{
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
}
.first-tab-inner-row .myTab-container{
  max-width: 47%;
  flex-grow: 1;
}

/* 内部板块的标题 */
.tab-inner-row-title{
  width: 100%;
  font-family: '苹方-简';
  font-size: 23px;
  font-weight: bold;
}
.tab-inner-row div{
  margin: 10px 0;
}



/* 文章栏容器 */
.home-feature-container{
  /* width: 100%; */
  min-width: 960px;
  background-size: cover;
  padding: 40px 0 40px;
}

/* 文章栏容器标题 */
.home-feature-title{
  max-width: 1056px;
  min-width: 960px;
  margin: 0 auto 10px;
  padding: 0 50px;
  color: white;
  font-family: '苹方-简';
  font-size: 23px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* font-weight: 200; */
}
.home-feature-title a{
  text-decoration: none;
  color:white;
}
.home-feature-title a:hover{
  text-decoration: underline;
}


/* 文章卡片容器组件 */
.home-feature{
  max-width: 1056px;
  min-width: 960px;
  margin: 0 auto;
  padding: 0 40px 0;
}

/* 文章卡片 */
.feature-card{
  overflow: hidden;
}
.feature-card a{
  text-decoration: none;
}
.feature-card a > img{
  transition: 300ms;
  width: 101%;
}
.feature-card a > img:hover{
  transform: scale(1.05, 1.05);
}


/* 文章卡片内容主体 */
.feature-card-body{
  background-color: white;
  position: relative;
  top: -5px;
  z-index: 999;
}
/* 文章卡片内容字体 */
.feature-card-body h3{
  color: #212529;
}
.feature-card-body p:nth-of-type(1){
  color: #565656;
  line-height: 22px;
}
.feature-card-body p:nth-of-type(2){
  /* color: #565656; */
  margin-top: 10px;
  font-size: 15px;
}

