.advance-container{
  padding: 20px 50px;
}


.advance-search{
  width: 100%;
  height: 40px;
  margin-bottom: 5px !important;
}
.advance-search input{
  font-size: 15px;
  background-color: rgba(240, 240, 240, 0.39);
  flex-shrink: 1;
  flex-grow: 1;
  width: 300px;
}

.advance-tip{
  color: grey;
  height: 30px;
  line-height: 30px;
}

.info-icon{
  position: relative;
  top:-3px;
  margin-right: 4px;
}


/* 高级搜索属性表 */
.advance-table{
  width: 100%;
  background-color: rgba(240, 240, 240, 0.39);
}
.table1 tr:nth-child(1) td,.table2 tr:nth-child(1) td{
  height: 40px;
  /* background-color: black; */
}


.advance-table tr td:first-child{
  width: 100px;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  font-family: '苹方-简';
}

.advance-table tr td:nth-child(2){
  padding: 0 10px;
}

/* 属性分类的div标题 */
.table-title{
  color: #c44d34;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  font-family: '苹方-简';
  margin: 8px 0;
}

/* 被告人属性：性别与年龄栏 */
.defendent-property-row td:nth-child(2){
  width: 150px;
}
.defendent-property-row td:nth-child(3){
  width: 90px;
  font-weight: bold;
  font-family: '苹方-简';
}
.defendent-property-row td:nth-child(4){
  padding-right: 10px;
}

.checkbox-row td{
  padding-top: 5px;
}


/* 两个范围选择器 */
.advance-slider1{
  position: relative;
  top: 5px;
}