.myTab-container i{
  font-size: 45px;
  float: left;
  /* background-color: red; */
  height: 70px;
  margin-right: 15px;
  position: relative;
  top: -15px;
}

.myTab-container a{
  display: block;
  font-size: 18px;
  line-height: 17px;
  font-weight: bold;
  color: #c44d34;
  margin-bottom: 10px;
}

.myTab-container a:hover{
  color: #c44d34 !important;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.myTab-container p{
  font-size: 15.5px;
  color: #565656;
  line-height: 20px;
}